#noteInput {
    border: 1px solid #CCC;
    background-color: #FFF;
    margin-top: 20px;
    padding: 10px;
}
#listNotes {
    margin-top: 30px;
    padding: 0 20px;
}

#searchTerm {
    padding-left: 30px;
}

.card md-input-container {
    margin: 9px 0;
}

.card h2 {
    margin: 5px 0;
}