<html lang="en" >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
        <link rel="stylesheet" href="styles/mdColorPicker.min.css">
        <link rel="stylesheet" href="styles/styles.css">
    </head>
    <body ng-app="keepApp" ng-cloak>
        <div class="container">
            <div
                    ng-controller="AddNoteCtrl"
                    class="addNote-wrapper"
                    layout="row"
                    layout-align="center"
            >
                <div id="noteInput" flex="60">
                    <md-input-container class="md-block">
                        <input
                                ng-model="title"
                                placeholder="Title"
                                ng-focus="showAll = true"
                        >
                    </md-input-container>
                    <div class="wrap" ng-show="showAll">
                        <md-input-container class="md-block">
                            <textarea ng-model="content" md-maxlength="150" rows="2" md-select-on-focus placeholder="Content">
                            </textarea>
                        </md-input-container>
                        <div
                                md-color-picker
                                md-color-hsl="false"
                                md-color-rgb="false"
                                ng-model="color"
                                md-color-spectrum="false"
                                md-color-sliders="false"
                                md-color-material-palette="false"
                                md-color-history="false"
                        ></div>
                        <md-button class="md-raised" ng-click="addNote();">Add</md-button>
                    </div>
                </div>
                <div id="searchTerm" flex="30">
                    <md-input-container class="md-block">
                        <input ng-model="data.searchTerm" placeholder="Search...">
                    </md-input-container>
                </div>
            </div>
            <div id="listNotes" ng-controller="notesListCtrl" layout="row">
                <md-card class="card" ng-repeat="(index, note) in notes | filter: filterCards" flex="33" style="background-color: {{ note.color }}">
                    <md-card-content>
                        <h2>
                            <md-input-container class="md-block">
                                <input aria-label="Title" ng-model="note.title" ng-disabled="!note.edit">
                            </md-input-container>
                        </h2>
                        <p>
                            <md-input-container class="md-block">
                            <textarea aria-label="Content" ng-model="note.content" md-maxlength="150" rows="1" md-select-on-focus ng-disabled="!note.edit">
                            </textarea>
                            </md-input-container>
                        </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end end">
                        <md-button ng-click="changeEditMode(index)">{{ note.edit ? "Save": "Edit" }}</md-button>
                        <md-button ng-click="removeNote(index)">Delete</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
        <script src="vendor/tinycolor.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
        <script src="directives/mdColorPicker.min.js" ></script>
        <script src="app.js"></script>
        <script src="services/notesService.js" ></script>
        <script src="controllers/addNoteController.js"></script>
        <script src="controllers/notesListController.js"></script>
        <script src="directives/clickoutside.directive.js"></script>

    </body>
</html>